* {
  box-sizing: border-box;
}

body {
 width: 100%;
 height: 100%;
}

.app {
 width: 100%;
 height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.item {
  padding: 10px;
  border: 1px solid #000;
  margin-bottom: 10px;
}

.item > span {
    display: none;
}

.item:hover > span {
  display: block;
  margin-left: auto;
}

.box {
  padding: 10px;
  border: 1px solid #000;
}

.list {
  padding: 10px;
  width: 30%;
  height: 80vh;
}

.header {
  padding: 10px;
  width: 100%;
  height: 20vh;
  border: 1px solid #000;
}

.detail {
  padding: 10px;
  width: 70%;
}

.content {
  width: 40%;
}

.mr {
  margin-right: auto;
}

input {
  margin-bottom: 20px;
}

textarea {
  margin-bottom: 20px;
}

.button {
  background-color: transparent;
  padding: 10px;
}

.full-width {
  width: 100%;
}